.detection-page{
    .mid-banner-component,.border-top,.curve-top, .mid-banner{
        height:65vh !important;
        
    }
    .changez-index{
        .border{
            height:100% !important;
        }
        .banner-component{
            z-index:90;
            height:65vh !important;
        }
    }
    .banner-component{
        height:100vh;
    }

    .overlay-component {
        background: rgba(0, 0, 0, 0.663);
        background-image: linear-gradient(to top, hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.3));
    }


    .overlay::before{
        background: rgba(1, 34, 64, 0.198) !important;
       
    }
    .header-container{
        flex-wrap: wrap;
        > * {
            max-width:100% !important;
        }
        video {
           
            margin:20px 0;
            height:auto;
            max-width:100%;
        }
    }
  
}

