.simple-banner-component{
    height:80vh;
    z-index: 101;
    position: relative;
    svg{
        position: absolute;
    }
    

    .curve{
        bottom: 0;
        left:0;
        z-index:10;
        position: absolute;
        width:100%;
        height: 80vh;
        background-color: hsl(200.69, 80.11%, 35.49%);
    }
  
    .banner-container{

        z-index:101;
        margin:0;
        padding:0;
        display: flex;
        background-size:cover;
        align-items: center;
        height:calc(100% - 10px);
        position: relative;
      
  
        .banner-content{
            z-index:2;
            h1{
                color:white;
                width:80%;
                margin:0;
                margin-top:0;
                margin-bottom:30px;
                font-weight: 600;
                line-height: 1.3;
                letter-spacing: 4px;
                font-size:calc(12px + 4vw);
                
            }
            .description{
                max-width:90%;
                width:450px;
                margin-top:10px;
                font-size:calc(12px + 0.6vw);
                color:white;
                z-index:70;
                font-weight: 700;
                margin-top:-20px;
            }
        }
        .header-container{
           margin-top:8vw;
            display:flex;
            justify-content: space-between;
            align-items: center;
            width:100%;
            color:white;
          .video{
            font-weight: 600;
            width:500px;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content:flex-end;
          }
        }
    }
}