.overlay-component{
  position:absolute;
  height:100%;
  width:100%;
  z-index: 1;
  background-image: linear-gradient(to top, hsla( 200.69,80.11%,35.49% ,0.1),hsla( 200.69,80.11%,35.49% ,0.3) ,hsla( 200.69,80.11%,35.49% ,0.4),hsla( 200.69,80.11%,35.49% ,0.6));
  
   
  
}