.solutions-page{
    .banner-container , .curve{
        clip-path: url(#section-divider) !important;
      
    }
    .simple-banner-component{
        &:nth-child(1){
            height:90vh;
            .header-container{margin-top:0}
            .curve{height:90vh}
        }
        &:nth-child(2){
            z-index: 100;;
            margin-top: calc(-4.5vw - 120px);
        }
        &:nth-child(3){
            z-index: 98;
            margin-top: calc(-4.5vw - 120px);
        }
        &:nth-child(4){
            z-index: 95;
            margin-top: calc(-4.5vw - 120px);
        }
    }
    .heading{
        width:1000px;
        max-width:90%;
       
    }
    h1{
        width:100% !important;
    }
    .heading, h1{
        
        line-height:1 !important;
    }
    .description{
        line-height:1.5;
        width:550px !important;
        font-weight:700;
        font-size:calc(12px + 0.34vw) !important;
    }
  
  
    .banner-component{
        height:100vh;
    }

    .overlay-component {
        background: rgba(3, 5, 7, 0.648);
      
    }


    .overlay::before{
        clip-path: url(#section-divider) !important;
        background: rgba(3, 13, 23, 0.764) !important;
       
    }
    .header-container{
        flex-wrap: wrap;
        > * {
            max-width:100% !important;
        }
        video {
           
            margin:20px 0;
            height:auto;
            max-width:100%;
        }
    }
  
}

